@{
    ViewData["Title"] = "Transações Bancárias";
}

<div class="text-center">
    <h3>Trasações Bancárias</h3>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Transacao" asp-action="Deposito">Depositar</a>
    <a class="btn btn-primary" role="button" asp-controller="Transacao" asp-action="Transferir">Transferir</a>
    <a class="btn btn-primary" role="button" asp-controller="Transacao" asp-action="Saque">Saque</a>
</div>
